# Misc
*~
~*
*.tmp
*.orig
*.bak
*.log
*.DS_STORE
/tmp

# Dependencies
/node_modules

# Compiled files
/dist
/lib

# Packaging artifacts
/react-quill-*.tgz
/package

# Test artifacts
.cypress/screenshots
.cypress/videos
branch_structure.json
temp_auto_push.bat
temp_interactive_push.bat
.gitignore
